{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% include 'common/pageHeader.html.twig' %}
    <!-- Start Page Welcome Area -->
    <section class="ptb-130">
        <div class="container">
            <div class="row align-items-center">
                <!-- Start Page Welcome Content -->
                <div class="col-md-6 col-12">
                    <div class="page-welcome-content">
                        <h3 data-animate="fadeInUp" data-delay=".1">HIGHWAYLIFE</h3>
                        <h1 data-animate="fadeInUp" data-delay=".2">Strefa Kierowcy</h1>
                        <p data-animate="fadeInUp" data-delay=".3">Dodaj nowy wpis do swojej książki z tachografem.</p>

                        <!-- End Social Icons -->
                    </div>
                </div>
                <!-- End Page Welcome Content -->

                <!-- Start Contact Form -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="col-md-6 col-12">
                        {% if error %}
                        <!-- Start Offer Area -->
                        <div class="offer-wrapper text-center" data-animate="fadeInUp" data-delay=".1">
                            <div class="offer-text">
                                <h2  data-animate="fadeInUp" data-delay=".3">Sukces!</h2>
                                <p data-animate="fadeInUp" data-delay=".5" >Nowy wpis do tachografu został dodany!</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="contact-form bg-light">
                            <div class="form-response"></div>
                            <form method="post" action="{{ path('newTacho') }}" class="parsley-validate">
                                <div class="input-wrap">
                                    <label>Licznik poczatkowy</label>
                                    {{ form_widget(form.startKm) }}
                                    <span class="highlight"></span>
                                </div>
                                <div class="input-wrap">
                                    <label>Licznik końcowy</label>
                                    {{ form_widget(form.endKm) }}
                                    <span class="highlight"></span>
                                </div>
                                <div class="input-wrap">
                                    <label>Tankowanie paliwa</label>
                                    {{ form_widget(form.fuel) }}
                                    <span class="highlight"></span>
                                </div>
                                <div class="input-wrap">
                                    <label>Przewieziony ładunek</label>
                                    {{ form_widget(form.load) }}
                                    <span class="highlight"></span>
                                </div>
                                <div class="input-wrap">
                                    <label>Opis zniszczeń</label>
                                    {{ form_widget(form.damage) }}
                                    <span class="highlight"></span>
                                </div>
                                {{ form_row(form._token) }}
                                <button class="btn" data-animate="fadeInUp" data-delay=".3" type="submit">Dodaj</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="offer-wrapper text-center" data-animate="fadeInUp" data-delay=".1">
                        <div class="offer-text">
                            <h2  data-animate="fadeInUp" data-delay=".3">Nie jesteś zalogowany!</h2>
                            <p data-animate="fadeInUp" data-delay=".5" >Aby wybrać nowy ładunek musisz sie zalogować.</p>
                        </div>
                    </div>

                {% endif %}
                <!-- End Contact Form -->
            </div>
        </div>
    </section>
    <!-- End Page Welcome Area -->
{% endblock %}